@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body{
    background-image: url(../img/images.png);
    background-size: cover;

    color: white;
    font-family: 'Ubuntu', sans-serif;
}

input{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
table{
    background-color: gray;
}
a{
    color: black;
}

